html,
body,
#map {
  position: fixed;
  top: 0;
  left: 10%;//200px;
  display: block;
  width: 100%;
  height: 100%;
}

#map {
  background: #58B;
}

#overlay {
  background: white;
  position: fixed;
  width: 255px; /*33.3333%;*/
  height: 100%;
  top: 0; 
  left: 0;
  overflow-x:hidden;
  overflow-y:auto;
  border-right: 1px solid rgba(0,0,0,0.25);
}

table, th, td {
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
}

#builder-basic {
  width: 500px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 150px;
}

#btn-get {
  z-index: 998;
  position: absolute;
  bottom: 20px;
  right: 290px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  background: red;
  font-weight: bold;
}

#reset_markers_location_button {
  z-index: 998;
  position: absolute;
  bottom: 20px;
  right: 220px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  background: green;
  font-weight: bold;
}

#stats_button {
  z-index: 999;
  position: absolute;
  bottom: 20px;
  right: 150px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  background: orange;
}

#stats {
  display: none;
  z-index: 1000;
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .95;
} 

#close_stats {
  background: none;
  position: absolute;
  top: 0;
  right:0;
  padding: 7px 15px 0px 15px;
  color: #f66;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
